---
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

const GITHUB_COMMIT_API = "https://api.github.com/repos/ryuapp/ryu.app/commits";
const res: CommitResponse = await fetch(GITHUB_COMMIT_API).then((res) =>
  res.json(),
);

type CommitResponse = Array<CommitObj>;
type CommitObj = {
  commit: {
    message: string;
    committer: {
      date: string;
    };
  };
};
type Commit = {
  emoji: string;
  message: string;
  time: string;
  datetime: string;
};

function separateCommitMessage(commitMessage: string) {
  const messageArray = commitMessage.split(" ");
  const emoji = messageArray.shift();
  const message = messageArray.join(" ");
  if (!emoji) {
    return {
      emoji: "❔",
      message: commitMessage,
    };
  }
  return {
    emoji,
    message,
  };
}
function getYMD(time: string) {
  const currentDate = new Date();
  const date = new Date(time);
  return date.toLocaleDateString("en", {
    year:
      date.getFullYear() === currentDate.getFullYear() ? undefined : "numeric",
    month: "short",
    day: "numeric",
  });
}

const commits: Array<Commit> = [];
for (const { commit } of res) {
  if (commits.length > 7) {
    break;
  }

  const { emoji, message } = separateCommitMessage(commit.message);
  const time = getYMD(commit.committer.date);
  const datetime = commit.committer.date;
  commits.push({
    emoji,
    message,
    time,
    datetime,
  });
}

const title = "Commits";
const description = "Commits of ryu.app on GitHub.";
---

<Layout title={title} description={description}>
  <div class="flex min-h-svh justify-center bg-zinc-900 text-white">
    <div class="flex max-w-lg flex-col items-center justify-center gap-4 py-2">
      <h1 class="text-2xl">Commits</h1>
      <p class="text-sm text-neutral-400">
        Commits of <a
          href="https://github.com/ryuapp/ryu.app"
          class="text-brand underline">ryu.app</a
        >
      </p>
      <ul
        aria-label="commits of ryu.app"
        class="relative my-4 flex flex-col gap-8 pb-8 pl-8 before:absolute before:left-8 before:top-0 before:h-full before:-translate-x-1/2 before:border before:border-dashed before:border-zinc-700 after:absolute after:bottom-6 after:left-8 after:top-6 after:-translate-x-1/2 after:border after:border-zinc-700"
      >
        {
          commits.map((commit) => {
            return (
              <li class="relative pl-8">
                <span class="absolute left-0 z-10 flex h-10 w-10 -translate-x-1/2 items-center justify-center rounded-full bg-zinc-900 text-lg">
                  {commit.emoji}
                </span>
                <div class="flex flex-1 flex-col gap-0">
                  <h2 class="text-sm"> {commit.message} </h2>
                  <time
                    class="text-xs text-neutral-400"
                    title={commit.datetime}
                  >
                    {commit.time}
                  </time>
                </div>
              </li>
            );
          })
        }
      </ul>
      <Link href="/" variant="dark">Home</Link>
      <Footer isDark={true} />
    </div>
  </div>
</Layout>
