---
import Footer from "../components/Footer.astro"
import Link from "../components/Link.astro"
import Layout from "../layouts/Layout.astro"

const data = await fetch("https://api.github.com/repos/ryuapp/ryu.app/commits").then((res) => res.json())
const commits = []
for (let i = 0; i < 7 && i < data.length; i++) {
  const emojiCode = Number(data[i].commit.message.codePointAt(0))
  const emoji = String.fromCodePoint(emojiCode)
  const sliceNum = emojiCode > 65535 ? 2 : 1
  const message = data[i].commit.message.slice(sliceNum).replace(/\s+/, "")
  const tmpDate = new Date(data[i].commit.committer.date)
  const currentDate = new Date()
  const date = tmpDate.toLocaleDateString(undefined, {
    year: tmpDate.getFullYear() === currentDate.getFullYear() ? undefined : "numeric",
    month: "short",
    day: "numeric",
  })

  const commit = {
    emoji,
    message,
    date,
  }
  commits.push(commit)
}

const title = "Commits"
const description = "Commits of ryu.app on GitHub."
---

<Layout title={title} description={description}>
  <div class="flex min-h-svh justify-center bg-zinc-900 text-white">
    <div class="flex max-w-lg flex-col items-center justify-center gap-4 py-2">
      <h1 class="text-2xl">Commits</h1>
      <p class="text-sm text-neutral-400">
        Commits of <a href="https://github.com/ryuapp/ryu.app" class="text-brand underline">ryu.app</a>
      </p>
      <ul
        aria-label="commits of ryu.app"
        class="relative my-4 flex flex-col gap-8 pb-8 pl-8 before:absolute before:left-8 before:top-0 before:h-full before:-translate-x-1/2 before:border before:border-dashed before:border-zinc-700 after:absolute after:bottom-6 after:left-8 after:top-6 after:-translate-x-1/2 after:border after:border-zinc-700"
      >
        {
          commits.map((item, i) => {
            return (
              <li class="relative pl-8">
                <span class="absolute left-0 z-10 flex h-10 w-10 -translate-x-1/2 items-center justify-center rounded-full bg-zinc-900 text-lg">
                  {item.emoji}
                </span>
                <div class="flex flex-1 flex-col gap-0">
                  <h2 class="text-sm"> {item.message} </h2>
                  <p class="text-xs text-neutral-400">{item.date}</p>
                </div>
              </li>
            )
          })
        }
      </ul>
      <Link href="/" variant="dark">Home</Link>
      <Footer isDark={true} />
    </div>
  </div>
</Layout>
