---
import "../styles/base.css";
import { siteConfig } from "../../config/site.ts";
import { ClientRouter } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
}
const { title, description } = Astro.props;
const pageTitle = (title ? title + " | " : "") + siteConfig.title;
// URL without trailling slash and extension
const url = String(Astro.url)
  .replace(/\.[^/.]+$/, "")
  .replace(/\/$/, "");
// Origin URL without trailling slash
const originUrl = Astro.url.origin.replace(/\/$/, "");
const canonicalUrl = url.includes(originUrl) ? url : originUrl;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalUrl} />
<meta property="og:site_name" content={siteConfig.title} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={new URL("/og.webp", Astro.url)} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="author" content={siteConfig.author} />
<link
  rel="preload"
  as="font"
  crossorigin
  href="/font/poppins-regular.woff2"
  type="font/woff2"
/>
<link
  rel="preload"
  as="font"
  crossorigin
  href="/font/poppins-bold.woff2"
  type="font/woff2"
/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/manifest.json" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#39b54a" />
<meta name="msapplication-TileColor" content="#39b54a" />
<meta name="theme-color" content="#39b54a" />
<script>
  document.addEventListener("visibilitychange", function () {
    const favicon = document.querySelector(
      'link[rel="icon"]',
    ) as HTMLLinkElement;
    if (document.visibilityState === "hidden") {
      favicon!.href = "/favicon-32x32_grayscale.png";
    } else {
      favicon!.href = "/favicon-32x32.png";
    }
  });
</script>
<ClientRouter />
