---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Link from "../../components/Link.astro";
import { projects } from "../../../config/projects.ts";

const title = "Projects";
const description =
  "Ryu's projects. Software, web application, libary, CLI, etc.";
---

<Layout title={title} description={description}>
  <div class="flex min-h-svh justify-center overflow-hidden">
    <div class="flex max-w-xl flex-col justify-center gap-4 py-2">
      <h1 class="mb-3 text-center text-2xl">
        {title}
      </h1>

      <div class="mb-6 flex flex-col divide-y divide-gray-300">
        {
          projects.map((project) => (
            <a href={`${project.link}`} class="p-3 hover:underline">
              <h2>{project.name}</h2>
              <p class="text-sm">{project.description}</p>
            </a>
          ))
        }
      </div>

      <div class="flex justify-center">
        <Link href="/">Home</Link>
      </div>
      <Footer />
    </div>
  </div>
</Layout>
